/*
 * Nom du fichier                   : contact.component.scss
 * Description                      : Fichier contenant le style de la bannière contact
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 0/07/2017
 * Date de dernière modification    : 06/07/2017
 */
@import '../../../variables';

.global-contact {
    height: 100%;
    background-color: $red;
    text-align: center;

    h1 {
        font-size: 70px;
        text-transform: uppercase;
        color: $white;
        font-weight: bold;
        margin-top: 30px;
    }

    .btn-default {
        text-transform: uppercase;
        font-size: 20px;
        padding: 8px 20PX;
        margin-bottom: 30px;
    }
}

@import './contact.mediaqueries';