/*
 * Nom du fichier                   : carousel.component.scss
 * Description                      : Fichier contenant le style du carousel
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 21/06/2017
 * Date de dernière modification    : 21/06/2017
 */

@import '../../../variables';

a.carousel-control.left, a.carousel-control.right {
    background: transparent;
}

#product-carousel {
    .carousel-inner {

        .item {

            width: 33%;
            display: inline-block;

            img {

            }
            .carousel-caption {
                position: relative;
            }
        }
        .active {

        }
    }
    .carousel-control {

        
    }
}