<!--
  * Nom du fichier                   : products.component.html
  * Description                      : Fichier contenant le html de la page products
  * Auteur(s)                        : Anthony Wispelaere
  * Date de création                 : 23/06/2017
  * Date de dernière modification    : 26/06/2017
-->

<app-login-info class="col-md-12 app-login-info"></app-login-info>

<div class="container">
    <app-menu class="col-md-12"></app-menu>

    <h1>Nos Produits</h1>

    <div class="filter-product col-md-3">
        <h4>CATEGORIES</h4>
        <hr>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav text-left menu-list col-md-12">
                <li class="dropdown col-md-12">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bouillotes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Homme</a></li>
                        <li><a href="#">Femmes </a></li>
                        <li><a href="#">Enfant</a></li>
                    </ul>
                </li>
                <li class="dropdown col-md-12">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coussins <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Homme</a></li>
                        <li><a href="#">Femmes </a></li>
                        <li><a href="#">Enfant</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <hr>
        <div class="filter-promo">
          <h4>REDUCTIONS</h4>
            <form>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        10 %
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        20 %
                    </label>
                </div>
                <div class="checkbox ">
                    <label>
                        <input type="checkbox" value="">
                        50 %
                    </label>
                </div>
            </form>
        </div>
        <hr>
        
        <div>
            <h4>PRIX</h4>

          
        </div>
    </div>

    <div class="global-products col-md-9" >

        <div class="col-md-3 global-product-item" *ngFor="let product of productsArray">

            <div class="product-item col-md-12 ">
                
                <img class="col-md-12" src="{{ product.url }}" alt="Product picture">
                <h4 class="col-md-12">{{product.label}}</h4>
                <p class="col-md-12 description">{{ product.description }}</p>
                <p class="col-md-5 price">{{ product.price }} €/pièce</p>

                <p class="quantite col-md-7">Stock : {{ product.quantite }}</p>

                <button class="btn btn-default add-basket" type="submit">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <a class="col-md-12" routerLink="/product-item/{{product.id}}"> + de détails</a>

            </div>

        </div>

    </div>
</div>
<app-footer></app-footer>

<!--<app-carousel class="col-md-12"></app-carousel>-->