/*
 * Nom du fichier                   : products.mediaqueries.scss
 * Description                      : Fichier contenant le style de la page products
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 23/06/2017
 * Date de dernière modification    : 23/06/2017
 */
 
@import '../../../variables';

.app-login-info {
    padding: 0;
    background-color: $black;
}

.container {
    h1 {

    }

    .filter-product {
        border-right: 1px solid $grey;

        .navbar-collapse {
            margin-top: 20px;
            background-color: $white;
            border-color: $white;

            .text-left {
                text-align: left;
            }

            .menu-list {
                min-height: 50px;
                line-height: 50px;
            }
            ul {
                background: $greyFilterMenu;
                li {
                    float: none;

                    a {
                        color: $black;
                        padding: 10px;
                        text-transform: uppercase;

                        .caret {
                            float: right;
                        }
                    }
                }
            }
        }

        .filter-promo {

            form {
                .checkbox {
                    label {
                        font-size: 20px;
                        height: 100%;
                        line-height: 20px;
                        vertical-align: middle;
                        padding-left: 30px;
                        border-color: $black;

                        input[type=checkbox] {
                            vertical-align: middle;
                            height: 20px;
                            width: 20px;
                            border-color:  $black;
                            left: 20px;
                            bottom: 0;
                        }
                        input[type=checkbox]:checked {
                            vertical-align: middle;
                            height: 20px;
                            width: 20px;
                            border-color:  $black;
                            left: 20px;
                            bottom: 0;
                            transform: scale(1) rotateZ(0deg);
                        }
                    }
                }
            }

        }
    }

    .global-products {
        padding: 10px;
        .global-product-item {
            padding-bottom: 5px;


            .product-item {
                height: 400px;
                text-align: center;
                transition-property: border, box-shadow;
                transition-duration: 0.3s;
                transition-timing-function: ease;
                border: 1px solid $white;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;

                &:hover {
                    border: 1px solid $grey;
                    -moz-box-shadow: inset 5px -5px 15px -5px $shadowProduct, inset -5px 5px 15px -5px $shadowProduct;
                    -webkit-box-shadow: inset 5px -5px 15px -5px $shadowProduct, inset -5px 5px 15px -5px $shadowProduct;
                    -o-box-shadow: inset 5px -5px 15px -5px $shadowProduct, inset -5px 5px 15px -5px $shadowProduct;
                    box-shadow: inset 5px -5px 15px -5px $shadowProduct, inset -5px 5px 15px -5px $shadowProduct;

                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    
                }

                img {
                    padding: 0 5px;
                    height: 150px;
                    margin-top: 10px;
                }
                
                h4 {
                    padding: 0;
                    font-weight: bold;
                    color: $black;
                }

                .description {
                    padding: 5px 0;
                    text-align: justify;
                }

                .price {
                    padding: 10px;
                }

                .btn-default {
                    background-color: $white;
                    color: $black;
                    border: 2px solid $black;
                    border-radius: 0;

                    &:hover {
                        background-color: $black;
                        color: $white;
                        
                    }

                    &:focus, &:active, &:visited {
                        border-color: $black;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

