<!--
  * Nom du fichier                   : banner-relax.component.html
  * Description                      : Fichier contenant le html de la baniere relax
  * Auteur(s)                        : Anthony Wispelaere
  * Date de création                 : 03/07/2017
  * Date de dernière modification    : 03/07/2017
-->
<div>
    <div class="global-banner-relax col-md-12">
        <div class="title col-md-offset-4 col-md-8">
            Just relax
            <span>
                &
            </span>
            <br>
            Let us do the heavy lifting
        </div>

        <div class="subtitle col-md-offset-4 col-md-8">
            Proin iaculis purus consequat sem cure digni ssim. Donnec
            <br>
            orttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
        </div>

        <div class="check">
            
        </div>

    </div>
</div>