/*
 * Nom du fichier                   : banner-relax.mediaqueries.scss
 * Description                      : Fichier contenant les mediaqueries de la baniere relax
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 03/07/2017
 * Date de dernière modification    : 06/07/2017
 */

/* Medium Devices, Desktops */

@media only screen and (max-width: $medium-device-size) {
    .global-banner-relax {
        height: 100%;
        color: $grey;

        .title {
            margin-top: 20px;
            font-size: 20px;
        }

        .subtitle {
            margin-top: 30px;
            font-size: 18px;
            
        }

        .check {
            margin-top: 10px ;
            ul {
                list-style:none;

                li {
                    font-size: 18px;
                    line-height: 30px;

                    
                    p {
                        margin-left: 30px;
                    }
                }
            }
        }

        .btn-default {
            margin-top: 3%;
            font-size: 18px;
            padding: 10px 0;
            width: 150px;
            line-height: 20px;
            text-transform: uppercase;
            border-radius: 35px;
            font-weight: bold;
        }
    }
}


/* Large Devices, Desktops */

@media only screen and (max-width: $small-device-size) {
    
}


/* Medium Devices, Desktops */

@media only screen and (max-width: $mini-device-size) {
    
}