<!--
  * Nom du fichier                   : home.component.html
  * Description                      : Fichier contenant le html de la page home
  * Auteur(s)                        : Anthony Wispelaere
  * Date de création                 : 03/07/2017
  * Date de dernière modification    : 03/07/2017
-->
<app-menu></app-menu>
<app-banner></app-banner>
<app-business-service ></app-business-service>
<app-banner-relax></app-banner-relax>
<app-framework ></app-framework>
<app-contact></app-contact>
<app-footer></app-footer>



