<!--
  * Nom du fichier                   : home.component.html
  * Description                      : Fichier contenant le html de la page home
  * Auteur(s)                        : Anthony Wispelaere
  * Date de création                 : 03/07/2017
  * Date de dernière modification    : 03/07/2017
-->

<div class="container">

    <app-menu></app-menu>

</div>

<app-banner></app-banner>

<div class="container">

    <app-business-service></app-business-service>

</div>

<app-banner-relax></app-banner-relax>


