<!--
  * Nom du fichier                   : home.component.html
  * Description                      : Fichier contenant le html de la page home
  * Auteur(s)                        : Anthony Wispelaere
  * Date de création                 : 16/06/2017
  * Date de dernière modification    : 23/06/2017
-->

<app-login-info class="col-md-12 app-login-info"></app-login-info>

<div class="container">

    <app-menu class="col-md-12"></app-menu>

    <app-advertisement-banner></app-advertisement-banner>


</div>
<app-footer></app-footer>

<!--<app-carousel class="col-md-12"></app-carousel>-->