<div>
  <div class="global-business-service">
      <div class="title">
          Professional servives
      </div>

      <div class="subtitles">
          Proin iaculis purus consequat sem cure.
      </div>

      <div class="global-service">

          <div class="service-item col-md-4">
              <i class="fa fa-heart fa-5x" aria-hidden="true"></i>
              <p>BEAUTIFUL DESIGNS</p>
              <div class="description">
                  Proin laculis purus consequat sem cure digni ssim. Donner porttitora entim suscipit aenean rhoncus posere odio in tincidunt.
              </div>
          </div>

          <div class="service-item col-md-4">
              <img src="./assets/icons/responsiveLogo.png" alt="Responsive Logo">
              <p>RESPONSIVE WEB</p>
              <div class="description">
                  Proin laculis purus consequat sem cure digni ssim. Donner porttitora entim suscipit aenean rhoncus posere odio in tincidunt.
              </div>

          </div>

          <div class="service-item col-md-4">
              <img src="./assets/icons/graf.png" alt="Graphic Logo">
              <p>MARKETING TOOLS</p>
              <div class="description">
                  Proin laculis purus consequat sem cure digni ssim. Donner porttitora entim suscipit aenean rhoncus posere odio in tincidunt.
              </div>

          </div>
      </div>
  </div>
</div>
