<!--
  * Nom du fichier                   : business-service.component.html
  * Description                      : Fichier contenant le html de la présentation des services
  * Auteur(s)                        : Anthony Wispelaere
  * Date de création                 : 03/07/2017
  * Date de dernière modification    : 07/07/2017
-->

<section class="container">
  <div class="global-business-service">
      <div class="title">
          Professional servives
      </div>

      <div class="subtitles">
          Proin iaculis purus consequat sem cure.
      </div>

      <div class="global-service col-md-12 col-xs-12">

          <div class="service-item col-md-offset-0 col-md-4 col-xs-6">
              <img src="./assets/icons/heart.png" alt="Responsive Logo">
              <p class="title-item">BEAUTIFUL DESIGNS</p>
              <div class="description">
                  Proin laculis purus consequat sem cure digni ssim. Donner porttitora entim suscipit aenean rhoncus posere odio in tincidunt.
              </div>
          </div>

          <div class="service-item col-md-4  col-xs-6">
              <img src="./assets/icons/responsiveLogo.png" alt="Responsive Logo">
              <p class="title-item">RESPONSIVE WEB</p>
              <div class="description">
                  Proin laculis purus consequat sem cure digni ssim. Donner porttitora entim suscipit aenean rhoncus posere odio in tincidunt.
              </div>

          </div>

          <div class="service-item col-md-offset-0 col-md-4  col-xs-12">
              <img src="./assets/icons/graf.png" alt="Graphic Logo">
              <p class="title-item">MARKETING TOOLS</p>
              <div class="description">
                  Proin laculis purus consequat sem cure digni ssim. Donner porttitora entim suscipit aenean rhoncus posere odio in tincidunt.
              </div>

          </div>
      </div>
  </div>
</section>
