<!--
  * Nom du fichier                   : user-profile.component.html
  * Description                      : Contient le code html du composant user-profile
  * Auteur(s)                        : Anthony Wispelaere
  * Date de création                 : 16/06/2017
  * Date de dernière modification    : 26/06/2017
-->

<app-login-info class="col-md-12 app-login-info"></app-login-info>

<div class="container">

    <app-menu class="col-md-12"></app-menu>

    <h1>Votre compte</h1>

    <div class="global-info container">
        
        <div class="user-profile-picture col-md-12">
            <img src="./assets/profiles/{{ user.url }}" alt="Profile picture">
        </div>
        
        <div class="col-md-6 civility-info">

            <label class="col-md-3"> Nom : </label>
            <p>{{ user.lastname }}</p>

            <label class="col-md-3"> Prénom : </label>
            <p> {{ user.firstname }} </p>

            <label class="col-md-3">Adresse : </label>
            <p> {{ user.address }} </p>

            <label class="col-md-3">Ville : </label>
            <p> {{ user.city }} </p>

            <label class="col-md-3">Pays : </label>
            <p> {{ user.country }} </p>

            <label class="col-md-3"> Date de naissance : </label>
            <p> {{ user.birthdate }} </p>

            <label class="col-md-3"> Téléphone : </label>
            <p> {{ user.phonenumber }} </p>

        </div>
        

        <div class="web-info col-md-6">
            <label class="col-md-6"> Email : </label>
            <p> {{user.email}} </p>

            <label class="col-md-6"> Inscript le : </label>
            <p> {{user.registerdate}} </p>
        </div>
    </div>

</div>

<app-footer></app-footer>