/*
 * Nom du fichier                   : logout.component.scss
 * Description                      : Fichier contenant le style de la page logout
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 16/06/2017
 * Date de dernière modification    : 16/06/2017
 */

.container {

    text-align: center;
    
    p {
        margin-top: 30px;
        font-size: 22px;

        button {
            margin: 10px;
        }
    }
}
