<!--
  * Nom du fichier                   : banner.component.html
  * Description                      : Fichier contenant le html de la baniere
  * Auteur(s)                        : Anthony Wispelaere
  * Date de création                 : 03/07/2017
  * Date de dernière modification    : 07/07/2017
-->

<div class="banner-content">
    <section class="global-banner"></section>

    <div class="global-banner-content col-md-12">
        <div class="tittle col-md-12">
            Creative digital 
            <br>
            solutions 
        </div>

        <div class="description col-md-12">
            Proin iaculis purus consequat sem cure.
        </div>
        <div>
            <button type="submit" class="btn btn-default">View portfolio</button>
        </div>
    </div>
</div>