/*
 * Nom du fichier                   : banner.mediaqueries.scss
 * Description                      : Fichier contenant les mediaqueries de la bannière
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 06/07/2017
 * Date de dernière modification    : 09/07/2017
 */

/* Medium Devices, Desktops */

@media only screen and (max-width: $medium-device-size) {
    .banner-content {
        
        .global-banner {
            height: 450px;
        }

        .global-banner-content {
            height: 450px;

            .tittle {
                margin-top: 60px;
                font-size: 45px;
            }

            .description {
                margin-top: 40px;
                font-size: 25px;
            }

            .btn-default {
                font-size: 20px;
                margin-top: 50px;
                padding: 15px 0;
                width: 200px;
            }
        }
    }
}


/* Small Devices, Desktops */

@media only screen and (max-width: $small-device-size) {
    .banner-content {
        
        .global-banner {
            height: 420px;
        }

        .global-banner-content {
            height: 420px;

            .tittle {
                margin-top: 60px;
                font-size: 40px;
            }

            .description {
                margin-top: 40px;
                font-size: 20px;
            }

            .btn-default {
                font-size: 16px;
                margin-top: 50px;
                padding: 15px 0;
                width: 200px;
            }
        }
    }
}


/* Mini Devices, Desktops */

@media only screen and (max-width: $mini-device-size) {
    .banner-content {

        .global-banner {
            background-size: cover;
            text-align: center;
            height: 180px;
            color: $white;
        }
        
        .global-banner-content {
            height: 180px;

            .tittle {
                margin-top: 30px;
                font-size: 20px ;
            }

            .description {
                margin-top: 3%;
                font-size: 15px;
            }

            .btn-default {
                margin-top: 20px;
                font-size: 8px;
                padding: 5px 0;
                width: 80px;
                line-height: 18px;
            }
        }
    }
}