<!--
  * Nom du fichier                   : framework.component.html
  * Description                      : Fichier contenant le html du composant framework
  * Auteur(s)                        : Anthony Wispelaere
  * Date de création                 : 06/07/2017
  * Date de dernière modification    : 07/07/2017
-->

<section >
    <div class="global-framework container">
        <h1>Frameworks & tools</h1>

        <div class="subtitle">
            Proin aiculis purus consequat cure.
        </div>

        <div class="used-frameworks">
            <div class="logo-div col-md-12">
                <div class="col-md-offset-1 col-md-2">
                    <img src="./assets/icons/reactJs.png" alt="Logo react">
                </div>
                
                <div class="separator-div col-md-2">
                    <div class="separator-ligne"></div>
                </div>

                <div class="col-md-2">
                    <img src="./assets/icons/git.png" alt="Logo git">
                </div>

                <div class="separator-div col-md-2">
                    <div class="separator-ligne"></div>
                </div>

                <div class="col-md-2">
                    <img src="./assets/icons/sass.png" alt="Logo sass">
                </div>

            </div>
            <div class="framework-item col-md-4">
                <h3>ReactJs</h3>
                <div class="description">
                    Proin iaculis purus consequat sem cure digni ssim. 
                    Donec porttitora entum suscipit aenean rhoncus 
                    posuere odio tincidunt.
                </div>
            </div>

            <div class="framework-item col-md-4">
                <h3>Git</h3>
                <div class="description ">
                    Proin iaculis purus consequat sem cure digni ssim. 
                    Donec porttitora entum suscipit aenean rhoncus 
                    posuere odio tincidunt.
                </div>
            </div>
            
            <div class="framework-item col-md-4">
                <h3>Sass</h3>
                <div class="description">
                    Proin iaculis purus consequat sem cure digni ssim. 
                    Donec porttitora entum suscipit aenean rhoncus 
                    posuere odio tincidunt.
                </div>
            </div>
        </div>
    </div>
</section>