/*
 * Nom du fichier                   : framework.compnent.scss
 * Description                      : Fichier contenant le style du composant framework
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 06/07/2017
 * Date de dernière modification    : 07/07/2017
 */

@import '../../../variables';

.global-framework {
    font-family: Bitter;
    height: 100%;
    text-align: center;
    margin-bottom: 100px;

    h1 {
        font-family: Poppins;
        font-weight: bold;
        font-size: 40px;
        margin-top: 100px;
        text-transform: uppercase;
    }

    .subtitle {
        color: $grey;
        font-size: 20px;
    }

    .used-frameworks{
        margin-top: 50px;
        padding: 0;
        
        .logo-div {
            height: 100px;
            padding: 0;

            .separator-div {
                height: 100px;
                text-align: center;

                .separator-ligne {
                    height: 2px;
                    background-color: $grey;
                    z-index: 99;
                    margin-top: 45px;
                }
            }
        }

        .framework-item {

            h3 {
                font-family: Poppins;
                font-weight: bold;
                font-size: 18px;
                text-transform: uppercase;
            }
            .description {
                font-size: 14px;
                font-family: Bitter;
                color: $grey;
                margin-bottom: 20px;
            }
        }
    }
}

@import './framework.mediaqueries';
