/*
 * Nom du fichier                   : variables.scss
 * Description                      : Fichier contenant les variables de style
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 03/07/2017
 * Date de dernière modification    : 03/07/2017
 */


// Colors
$white              : #fff;
$black              : #000;
$buttonContact      : #3e3e3e;
$grey               : #838080;
$rgbaBlack          : rgba(255, 255, 255, 0.3);
$colorLoader        : rgba(242,136,2,1);
$red                : #d83359;
$blueTwitter        : #00aced;
$blueFacebook       : #3b5998;
$redPinterest       : #cb2028;
$orangeGoogle       : #da2713;


// Media queries sizes
$mini-device-size: 320px;
$small-device-size: 768px;
$medium-device-size: 1024px;



