/*
 * Nom du fichier                   : login-info.compnent.scss
 * Description                      : Fichier contenant le style du composant login-info
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 16/06/2017
 * Date de dernière modification    : 19/06/2017
 */

@import "../../../../variables";

.login-info-div {
    height: 50px;
    background-color: $black;
    font-size: 16px;

    .login-info {
        color : $white;
        vertical-align: middle;
        height: 100%;
        text-align: right;
        text-transform: uppercase;

        .hidden-btn {
            background-color: transparent;
            font-weight: bold;
            vertical-align: middle;
            
            height: 100%;
            
            
        }
        .btn-log {
            background-color: transparent;
            vertical-align: middle;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            height: 100%;
            
            &:focus {
                outline: none;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        
        .authenticated-div {
            height: 100%;
            text-align: right;
            color : $white;
            vertical-align: middle;
            
            img {
                height: 35px;
                border-radius: 100%;
                vertical-align: middle;
            }

            a {
                text-decoration: none;
                height: 100%;
                color: $white;
                vertical-align: middle;
                font-weight: bold;
                font-size: 14px;
                margin-left: 5px;
            }

            button {
                background: transparent;
                height: 100%;
                vertical-align: middle;
                border: none;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .button-basket-div {
        height: 100%;
        color: $white;
        font-weight: bold;
        font-size: 14px;
        text-align: right;
        
        .btn-basket {
            color: $white;
            background: transparent;
            border: none;
            height: 100%;
            vertical-align: middle;

            i {
                color: $white;
            }
        }
    }
}

@import "./login-info.mediaqueries";