<!--
  * Nom du fichier                   : login-info.component.html
  * Description                      : Fichier contenant le html du composant login-info
  * Auteur(s)                        : Anthony Wispelaere
  * Date de création                 : 16/06/2017
  * Date de dernière modification    : 19/06/2017
-->

<div class="login-info-div container">
    <div class="login-info col-md-10">
        <div class="hidden-btn" [hidden]="isLoggedIn">
            <button routerLink="/login" class="btn btn-log ">
                Se connecter
            </button>
        </div>
        <div [hidden]="!isLoggedIn " class="authenticated-div ">
            <img src="../assets/profiles/{{ user.url }}" alt="User picture" />

            <a class="user-name " routerLink="/userprofile/{{ user.id }}">{{user.firstname}} {{user.lastname}}</a>

            <button routerLink="/logout">
                <i class="fa fa-sign-out fa-1x "></i>
            </button>
        </div>
    </div>
    <div class="col-md-2 button-basket-div">
        <span id="totalAmount">0</span><span> €</span>
        <span>| Panier vide</span>
    
        <button routerLink="/basket" class="btn-default btn-basket" type="text">
            <i class="fa fa-shopping-basket fa-1x" aria-hidden="true"></i>
        </button>
    </div>
</div>