/*
 * Nom du fichier                   : menu.mediaqueries.scss
 * Description                      : Fichier contenant les mediasqueries du composant menu
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 03/07/2017
 * Date de dernière modification    : 09/07/2017
 */

/* Medium Devices, Desktops */

@media only screen and (max-width: $medium-device-size) {

    .navbar-default {
        margin-top: 20px;

        .container-fluid {
            .navbar-collapse {
                margin: 0;
            }

            .navbar-brand {
                img {
                    margin-left: 10px;
                }

                p {
                    margin: 0;
                    line-height: 30px;
                }
            }
            .menu-list {
                min-height: 20px;
                line-height: 20px;
                text-align: center;
            }
            
            li {
                float: none;
                width: 150px;
                a {
                    margin: 0 15px;
                    font-size: 25px;
                }
            }
        }
    }
}


/* Small Devices, Desktops */

@media only screen and (max-width: $small-device-size) {
    .main-title {
        a {
            .logo-title {
                font-size: 22px;
            }
        }
    }

    .navbar-default {
        margin-top: 20px;

        .container-fluid {
            .navbar-collapse {
                margin: 0;
                border-color: transparent;
            }

            .navbar-brand {
                img {
                    margin-left: 10px;
                }

                p {
                    margin: 0;
                    line-height: 30px;
                }
            }
            .menu-list {
                min-height: 20px;
                line-height: 20px;
                float: none;
                margin: 0;
                text-align: center;
            }
            
            li {
                float: none;
                width: 200px;
                a {
                    padding: 0;
                    font-size: 15px;
                }
            }
        }
    }
}
/* Mini Devices, Desktops */

@media only screen and (max-width: $mini-device-size) {
    .main-title {
        display: none;
    }

    .navbar-default {
        margin-top: 20px;

        .container-fluid {
            .navbar-collapse {
                text-align: center;
                margin: 0;
                border-color: transparent;
            }
            .navbar-header {
                margin-right: 10px;
            }

            .navbar-brand {
                display: inline-block;
                img {
                    margin-left: 10px;
                }

                p {
                    margin: 0;
                    line-height: 30px;
                }
            }
            .menu-list {
                min-height: 20px;
                line-height: 20px;
                float: none;
                margin: 0;
                text-align: center;
            }
            
            li {
                float: none;
                display: block;
                width: 100%;
                
                a {
                    padding: 0;
                    font-size: 15px;
                }
            }
        }
    }
}