<!--
 * Nom du fichier                   : menu.component.html
 * Description                      : Fichier contenant le html du composant menu
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 19/06/2017
 * Date de dernière modification    : 23/06/2017
-->

<div class="main-title col-md-4">
    <a href="index.html">
        <h1>Julie Couture</h1>
    </a>
</div>
<nav class="navbar navbar-default col-md-8">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav col-md-7 text-right menu-list">
                <li><a href="/home">Accueil</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bouillotes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Homme</a></li>
                        <li><a href="#">Femmes </a></li>
                        <li><a href="#">Enfant</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coussins <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Homme</a></li>
                        <li><a href="#">Femmes </a></li>
                        <li><a href="#">Enfant</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="nav navbar-nav col-md-5 text-right">
                <form [formGroup]="searchForm" (ngSubmit)="search($event)" class="navbar-form" >
                    <input [ngClass]="{'appear-anim': searchVisible, 'disappear-anim': !searchVisible}" type="text" class="form-control search-input" placeholder="Entrez votre recherche..." formControlName="searchText"/>
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-search fa-flip-horizontal" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>