/*
 * Nom du fichier                   : blog.compnent.scss
 * Description                      : Fichier contenant le style de la page blog
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 06/07/2017
 * Date de dernière modification    : 06/07/2017
 */

@import '../../../variables';

@font-face {
	font-family: "BitterBold";
	src: url("../../../assets/fonts/Bitter/Bitter-Bold.ttf") format("truetype");
	// src: url("../../../assets/fonts/Bitter/Bitter-Italic.ttf") format("truetype");
	// src: url("../../../assets/fonts/Bitter/Bitter-Regular.ttf") format("truetype");
}

.container {
    font-family: BitterBold;
    height: 100%;

    app-menu {
        padding: 0;
        height: 100%;
    }
}