/*",
 * Nom du fichier                   : advertisement-banner.component.scss
 * Description                      : Fichier contenant le style de la baniere de publicité
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 20/06/2017
 * Date de dernière modification    : 24/06/2017
*/

@import '../../../../variables';

.global-banner {
    padding: 0;
    margin-bottom: 20px;
    
    .center {
        text-align: center;
    }

    .presentation-banner {
        padding: 0;
        margin-top: 250px;

        .tittle-banner {
            font-weight: bold;
        }

        .description-banner {
            font-size: 16px;
        }

        .btn-default {
            background-color: $white;
            color: $black;
            border: 2px solid $black;
            border-radius: 0;
            text-transform: uppercase;

            &:hover {
                background-color: $black;
                color: $white;
                
            }

            &:focus, &:active, &:visited {
                border-color: $black;
                box-shadow: none;
            }
        }
    }
}