<!--
 * Nom du fichier                   : advertisement-banner.component-.html
 * Description                      : Fichier contenant le code html d'une banniere de publicité
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 20/06/2017
 * Date de dernière modification    : 20/06/2017
-->

<div class="col-md-12 global-banner">
    <div class="presentation-banner col-md-6 center">
        <h1 class="tittle-banner">{{ title }} </h1>
        <p class="description-banner">{{ description }} </p>

        <button [routerLink]="['/products']" class="btn btn-default" type="submit">Voir les modèles</button> 
    </div>

    <div class="presentation col-md-6">
        <img src="{{ uri }}" alt="Product picture" />
    </div>
</div>
