<!--
  * Nom du fichier                   : footer.component.html
  * Description                      : Fichier contenant le html du composant footer
  * Auteur(s)                        : Anthony Wispelaere
  * Date de création                 : 16/06/2017
  * Date de dernière modification    : 26/06/2017
-->

<footer class="global-banner col-md-12">
    <div class="banner container">

        <form class="col-md-12">
            <h4 class="col-md-4">Notre News Letter</h4>
            <input class="col-md-4" type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
            <button class="btn btn-default" type="submit" >Nous rejoindre</button> 
        </form>
    </div>

    <div class="container bottom-part">

        <div class="col-md-2 colum">
            <h4>Premier sous-menu</h4>
            <ul>
                <li><a target="_blank" href="#">Lien du 1er sous-menu</a></li>
                <li><a target="_blank" href="#">Autre lien</a></li>
                <li><a target="_blank" href="#">Et encore un</a></li>
            </ul>
        </div>

        <div class="col-md-2 colum">
            <h4>Deuxieme sous-menu</h4>
            <ul>
                <li><a target="_blank" href="#">Lien du 2eme sous-menu</a></li>
                <li><a target="_blank" href="#">Autre lien</a></li>
                <li><a target="_blank" href="#">Et encore un</a></li>
            </ul>
        </div>

        <div class="col-md-2 colum">
            <h4>Troisiene sous-menu</h4>
            <ul>
                <li><a target="_blank" href="#">Lien du 3eme sous-menu</a></li>
                <li><a target="_blank" href="#">Autre lien</a></li>
                <li><a target="_blank" href="#">Et encore un</a></li>
            </ul>
        </div>

        <div class="col-md-2 colum">
            <h4>Quatrieme sous-menu</h4>
            <ul>
                <li><a target="_blank" href="#">Liens du 4eme sous-menue</a></li>
                <li><a target="_blank" href="#">Autre lien</a></li>
                <li><a target="_blank" href="#">Et encore un</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <div class="social-icon">
                <a target="_blank" href="https://www.instagram.com">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com">
                    <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="https://twitter.com/">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="https://vimeo.com/">
                    <i class="fa fa-vimeo fa-2x" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="https://onedrive.live.com">
                    <i class="fa fa-cloud fa-2x" aria-hidden="true"></i>
                </a>

                <div class="copyright col-md-12">
                    <p class="col-md-12">Copyright © 2017 | All rights reserved | Design by </p>
                    <hr>
                    <a class="col-md-offset-1 col-md-5" target="_blank" href="http://www.wispelaere.fr">Anthony Wispelaere</a>
                    
                </div>
                
            </div>

        </div>

    </div>

</footer>