<!--
  * Nom du fichier                   : footer.component.html
  * Description                      : Fichier contenant le html du composant footer
  * Auteur(s)                        : Anthony Wispelaere
  * Date de création                 : 03/07/2017
  * Date de dernière modification    : 06/07/2017
-->
<div>
    <footer>

        <div class="global-footer">

            <div class="col-md-3 copyright">© Copyright 2017 Altima</div>
            
            <div class="social-logo col-md-1">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>

            <div class="social-logo col-md-1">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>

            <div class="social-logo col-md-1">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </div>

            <div class="social-logo col-md-1">
                <i class="fa fa-google" aria-hidden="true"></i>
                <!--<img class="img-google" href="./assets/icons/google.png">-->
            </div>
        </div>

    </footer>
</div>