/*
 * Nom du fichier                   : footer.component.scss
 * Description                      : Fichier contenant le style du footer
 * Auteur(s)                        : Anthony Wispelaere
 * Date de création                 : 16/06/2017
 * Date de dernière modification    : 26/06/2017
 */

@import '../../../../variables';

.global-banner {
    height: 80px;
    padding: 0; 
    border-top: 1px solid $borderFooter;
    border-bottom: 1px solid $borderFooter;
    background-color: $grey;
    margin-top: 30px;

    .banner {
        margin-top: 20px;
        height: 100%;
        text-align: center;
        vertical-align: middle;

        form {
            padding: 0;
            h4 {
                padding: 0;
                text-transform: uppercase;
                font-weight: bold;
                margin-top: 0;
                line-height: 30px;
            }

            input {
                line-height: 30px;
                border-color: $grey;
                box-shadow: none;
                border-radius: 4px;

                &:focus, &:active, &:hover {
                    outline-offset: -2px;
                    outline: -webkit-focus-ring-color auto 0px;
                }
            }

            .btn-default {
                line-height: 30px;
                margin-top: -2px;
                background-color: $grey;
                color: $black;
                border: 2px solid $black;
                border-radius: 0;
                font-weight: bold;
                text-transform: uppercase;

                &:hover {
                    background-color: $black;
                    color: $white;
                    font-weight: bold;
                }

                &:focus, &:active, &:visited {
                    border-color: $black;
                    box-shadow: none;
                }
            }
        }
    }

    .bottom-part {
        margin-top: -10px;
        .colum {

            ul {

                li {
                    list-style-type: none;

                    a {
                        color: $lightLinkFooter;
                        text-decoration: none;

                        &:hover {
                            color: $black;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .social-icon {
            a {

                i {
                    margin: 3px;
                    color: $black;
                }
            }

            .copyright {
                color: $lightLinkFooter;
                margin-top: 20px;
                line-height: 14px;

                a {
                    color: $lightLinkFooter;
                    padding: 0;
                    
                    &:hover {
                        color: $black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@import "./footer.mediaqueries";